*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #0B0C10;
}
.header{
    
    padding: 2% 3%;
    height: 20%;
    /* display:flex;
    justify-content: space-between; */
}

.side-header{
    width: 100%;
    display: flex;
    position:fixed;
    left: 55%;
}
.side-header a{
    text-decoration: none;
    color:#C5C6C7;
    font-size:1.4rem;
    font-weight: 300;
}
.about{
    padding: 1.2rem;
}
.software{
    padding: 1.2rem;
}
.blogs{
    padding: 1.2rem;
}
.contact{
    padding: 1.2rem;
}
.main-header{ 
    padding: 1.2rem;
    position: fixed;
}
.main-header a{
    padding: 0.2rem 0.8rem;
    border-radius: 20px;
    background-color:#1F2833;
    background-blend-mode: darken;
    text-decoration: none;
    color:#C5C6C7;
    font-size:1.4rem;
    font-weight: 300;
}
.name-header{
    display:flex;
    justify-content: space-between;
}
.name-main{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 3.0rem;

    color: #FFFBFB;
    padding: 10%;
}
.name-subheader{
    width:90%;
    padding: 0% 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;

    color: #C5C6C7;
}
.profile-photo{
    padding-right: 2%;
}
.profile-photo img{
    width: 497px;
    height: 540px;
    opacity: 0.8;
    border: 1px solid #000000;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 308px 290px 294px 318px;
}
.main-foot{
    position:absolute;
    top:80%;
    left:20%;
    font-size: .5rem;
}
.first-vector{
    position: relative;
    left:30%;
}
.second-vector{
    position: relative;
    left:27%;
}
.third-vector{
    position: relative;
    left:23%;
}
.readmore{

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 75px;
    font-size: 1.7rem;

    color: #C5C6C7;
}
.main-foot a{
    text-decoration: none;
}
.header-animation{
    background-color: #E5E5E5;
}
.stick{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 20%;
}

/* main container ends here */

/* About section starts here */

.container-about{
    background-color:#C5C6C7;  
    position: relative;
    height: 100vh;
}

.cv-button{
    color: #E5E5E5;
    position: absolute;
    top:40px;
    left: 42%;
    border: 0px #2F69BF;
    border-radius: 20px;
    background-color: #2F69BF;
    padding: 0.5rem 1.5rem;
    display:flex;
    justify-content: space-between;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
}